.popup{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.popup .popup-content{
    width: 400px;
    background-color: white;
    padding: 20px;
    border: 4px  black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 4px rgb(0,0,0);
}
.popup .popup-content input[type=text]{
    width: 90%;
    font-size: 18px;
    height: 10px;
    border: 1px solid black;
    border-radius: 6px;
    outline: none;
    border-bottom: 2px solid rgb(22,24,148) ;
    padding: 20px;
    color: rgb(24,75,241);
}

p.popup .popup-content input[type=text]::placeholder{
    color:rgba(66,66,243,0.4);
}

.popup .popup-content button{
    padding: 15px 10px;
    width: 50%;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color:#fff;
    border-radius:10px;
    background-color: indigo;
    font-size: 18px;
    font-weight: bolder;
}